# IDE & user-specific
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates

# Build outputs
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Xx]64/
[Xx]86/
[Aa][Rr][Mm]*/

# Test and profiling
[Tt]est[Rr]esult*/
[Tt]est[Rr]esults*/
*.coverage*
*.vsp?
*.psess

# NuGet
*.nupkg
packages/
project.lock.json
**/project.assets.json
*.nuget.props
*.nuget.targets

# Tooling
.vscode/
.idea/

# Logs & temp
*.log
*.tmp
